html,
body,
#root {
	height: 100%;
}

body {
	background: #eef2f5;
	font-family: Arial, Helvetica, sans-serif;
}

.navMain {
	background: linear-gradient(90deg, #fd297b, #ff5846, #ff655b);
	min-height: 80px;
}

.login-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-container p {
	color: #888888;
	font-size: medium;
}

.login-container form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 48px;
	margin-right: 48px;
	text-align: center;
}

.login-container form input {
	background-color: #ffffff;
	margin-top: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	height: 48px;
	padding: 0 20px;
	border-radius: 50px;
	font-size: 16px;
	color: #666;
}

.login-container form input ::placeholder {
	color: #999;
}

.login-container form button {
	width: 100%;
	margin-top: 10px;
	border: 0;
	border-radius: 50px;
	height: 48px;
	font-size: 16px;
	background: #df4723;
	background: linear-gradient(270deg, #fd297b, #ff5846, #ff655b);
	font-weight: bold;
	cursor: pointer;
	color: #ffffff;
}

.page-footer {
	background: linear-gradient(90deg, #fd297b, #ff5846, #ff655b);
	background: #424043;
}

.footer-head {
	color: #fc4570;
	font-weight: bold;
	font-size: xx-large;
}

.footer-copyright {
	text-align: center;
	font-size: small;
	color: #000000;
}

.empty-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.empty {
	font-size: 22px;
	color: #999999;
	font-weight: bold;
}

.oops {
	font-size: 50px;
	color: #000000;
	font-weight: normal;
}
.main-container {
	max-width: 980px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
}

.buttons {
	padding-top: 18px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}
.buttons button {
	height: 70px;
	width: 70px;
	box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
	border: none;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}

.buttons button:hover {
	transform: scale(1.1);
	transition: all 0.5s;
}

.btnDislike {
	height: 30px;
	width: 30px;
}

.btnLike {
	margin-top: 5px;
	height: 40px;
	width: 40px;
}

.help {
	display: flex;
	padding: 16px;
}

.help div {
	display: flex;
	align-items: center;
	margin: 12px;
	margin-top: 52px;
}

.help p {
	color: #545454;
	font-weight: bold;
	font-size: 12px;
	padding-left: 4px;
}

.help img {
	height: 24px;
	width: 24px;
}

.match-container {
	position: absolute;
	/* top: 0; */
	left: 0;
	/* bottom: 0; */
	right: 0;
	padding-bottom: 20px;
	padding-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.8);
	height: 100vh;
	overflow: auto;
}

.match-container .avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 5px solid #fff;
	margin: 30px 0;
	margin-right: 10px;
	margin-left: 10px;
}

.match-container strong {
	font-size: 32px;
	color: #fff;
}

.match-container p {
	margin-top: 10px;
	font-size: 18px;
	line-height: 30px;
	max-width: 400px;
	font-weight: lighter;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
}

.match-container .contSwipe {
	border: 2px solid #a1a1a1;
	padding: 14px 78px;
	border-radius: 8px;
	background: none;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	margin-top: 30px;
	cursor: pointer;
}

.match-container .sendMsg {
	border: 2px solid #a1a1a1;
	padding: 14px 92px;
	border-radius: 8px;
	background: none;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	margin-top: 30px;
	cursor: pointer;
}

nav i.material-icons {
	font-size: 40px;
	padding-top: 5px;
}

.background {
	background: linear-gradient(270deg, #fd297b, #ff5846, #ff655b);
}
