html,
body,
#root {
	height: 100%;
}

body {
	background: #eef2f5;
	font-family: Arial, Helvetica, sans-serif;
}

.navMain {
	background: linear-gradient(90deg, #fd297b, #ff5846, #ff655b);
	min-height: 80px;
}

.login-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-container p {
	color: #888888;
	font-size: medium;
}

.login-container form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 48px;
	margin-right: 48px;
	text-align: center;
}

.login-container form input {
	background-color: #ffffff;
	margin-top: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	height: 48px;
	padding: 0 20px;
	border-radius: 50px;
	font-size: 16px;
	color: #666;
}

.login-container form input ::placeholder {
	color: #999;
}

.login-container form button {
	width: 100%;
	margin-top: 10px;
	border: 0;
	border-radius: 50px;
	height: 48px;
	font-size: 16px;
	background: #df4723;
	background: linear-gradient(270deg, #fd297b, #ff5846, #ff655b);
	font-weight: bold;
	cursor: pointer;
	color: #ffffff;
}

.page-footer {
	background: linear-gradient(90deg, #fd297b, #ff5846, #ff655b);
	background: #424043;
}

.footer-head {
	color: #fc4570;
	font-weight: bold;
	font-size: xx-large;
}

.footer-copyright {
	text-align: center;
	font-size: small;
	color: #000000;
}

.empty-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.empty {
	font-size: 22px;
	color: #999999;
	font-weight: bold;
}

.oops {
	font-size: 50px;
	color: #000000;
	font-weight: normal;
}
.main-container {
	max-width: 980px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
}

/* .main-container {
	max-width: 980px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
}

.main-container ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 100px;
	margin-top: 50px;
}

.main-container ul li {
	display: flex;
	flex-direction: column;
}

.main-container ul li img {
	max-width: 100%;
	border-radius: 5px 5px 0 0;
}

.main-container ul li footer {
	flex: 1;
	background: #fff;
	border: 1px solid #eee;
	padding: 15px 20px;
	text-align: left;
	border-radius: 0 0 5px 5px;
}

.main-container ul li footer strong {
	font-size: 16px;
	color: #333;
}

.main-container ul li footer p {
	font-size: 14px;
	line-height: 20px;
	color: #999;
	margin-top: 5px;
}

.main-container ul li .buttons {
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.main-container ul li .buttons button {
	height: 50px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
	border: 0;
	border-radius: 4px;
	background: #fff;
	cursor: pointer;
}

.main-container ul li .buttons button:hover img {
	transform: translateY(-5px);
	transition: all 0.2s;
}

.match-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.8);
}

.match-container .avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid #fff;
	margin: 30px 0;
}

.match-container strong {
	font-size: 32px;
	color: #fff;
}

.match-container p {
	margin-top: 10px;
	font-size: 20px;
	line-height: 30px;
	max-width: 400px;
	color: rgba(255, 255, 255, 0.8);
}

.main-container button {
	border: 0;
	background: none;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	margin-top: 30px;
	cursor: pointer;
}

.rotate {
	animation: rotate-keyframes 1s;
}

@keyframes rotate-keyframes {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}
} */
