html,
body,
#root {
	height: 100%;
}

body {
	background: #eef2f5;
	font-family: Arial, Helvetica, sans-serif;
}

.navMain {
	background: linear-gradient(90deg, #fd297b, #ff5846, #ff655b);
	min-height: 80px;
}

.login-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-container p {
	color: #888888;
	font-size: medium;
}

.login-container form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 48px;
	margin-right: 48px;
	text-align: center;
}

.login-container form input {
	background-color: #ffffff;
	margin-top: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	height: 48px;
	padding: 0 20px;
	border-radius: 50px;
	font-size: 16px;
	color: #666;
}

.login-container form input ::placeholder {
	color: #999;
}

.login-container form button {
	width: 100%;
	margin-top: 10px;
	border: 0;
	border-radius: 50px;
	height: 48px;
	font-size: 16px;
	background: #df4723;
	background: linear-gradient(270deg, #fd297b, #ff5846, #ff655b);
	font-weight: bold;
	cursor: pointer;
	color: #ffffff;
}

.page-footer {
	background: linear-gradient(90deg, #fd297b, #ff5846, #ff655b);
	background: #424043;
}

.footer-head {
	color: #fc4570;
	font-weight: bold;
	font-size: xx-large;
}

.footer-copyright {
	text-align: center;
	font-size: small;
	color: #000000;
}

.empty-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.empty {
	font-size: 22px;
	color: #999999;
	font-weight: bold;
}

.oops {
	font-size: 50px;
	color: #000000;
	font-weight: normal;
}
.main-container {
	max-width: 980px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
}

.buttons {
	padding-top: 18px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}
.buttons button {
	height: 70px;
	width: 70px;
	box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
	border: none;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}

.buttons button:hover {
	transform: scale(1.1);
	transition: all 0.5s;
}

.btnDislike {
	height: 30px;
	width: 30px;
}

.btnLike {
	margin-top: 5px;
	height: 40px;
	width: 40px;
}
